{% extends "layout.html" %}
{% block content %}
<section class="articles">
    <div class="column is-8 is-offset-2">
        <div class="card article">
            <div class="card-content">
                <div class="media">
                    <div class="media-content has-text-centered">
                        <p class="title article-title">Change Wallpaper</p>
                    </div>
                </div>
                <div class="content article-body">
					<p>Upload JPG file</p>
					<form method="post"  method="POST" enctype="multipart/form-data">
						<div class="field">
						    <label class="label" for="wallpaper">Wallpaper</label>
						    <input type="file" name="wallpaper" accept="image/jpeg">
						</div>
						<button type="submit" class="button is-primary">Upload</button>
					</form>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}
