{% extends "layout.html" %}
{% block content %}
  <div class="columns text-center">
    <div class="column">
      <div class="hero is-primary">
        <div class="hero-body">
          <h2 class="subtitle is-2">
            Upload Files
          </h2>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="hero is-warning">
        <div class="hero-body">
          <h2 class="subtitle is-2">
            Change Wallpaper
          </h2>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="hero is-link">
        <div class="hero-body">
          <h2 class="subtitle is-2">
            Open URL
          </h2>
        </div>
      </div>
    </div>
  </div>
  <div class="columns text-center">
    <div class="column">
      <div class="hero is-danger">
        <div class="hero-body">
          <h2 class="subtitle is-2">
            Excecute Command
          </h2>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="hero is-success">
        <div class="hero-body">
          <h2 class="subtitle is-2">
            Send Message
          </h2>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="hero is-info">
        <div class="hero-body">
          <h2 class="subtitle is-2">
            Excecute Cleaner
          </h2>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
